<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cartas Contra Jorge</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
</head>
<body>
    <div class="card-grid">
        <% for(let server of servers) { %>
            <a href="/server/<%= server.id %>">
                <div class="card-wrap">
                    <div class="card">
                        <div>
                            <h3><%= server.name %></h3>
                            <p><%= server.users.length %> utilizador<%= server.users.length !== 1 ? 'es' : '' %><br><%= server.users.map(e => e.username).join(', ') %></p>
                        </div>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>