<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <title>Cartas Contra Jorge</title>
</head>
<body>
    <div class="card-grid">
        <div class="card-wrap">
            <div class="card" style="background-color:dimgray;color:white">
                <div>
                    <h4>O _____ é o melhor jogador de League of Legends e a _____ é homo sapiens pq o Rúben manda</h4>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card">
                <div>
                    <h4>Andrei Guloso</h4>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card">
                <div>
                    <h4>Velhinha da Moldávia</h4>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card">
                <div>
                    <h4>Uma vaca comilona</h4>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card">
                <div>
                    <h4>Um nazista Hitleriano</h4>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/socket.io-2.1.1.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script>
        $(function () {
            var socket = io();
            $('#submitCard').onclick(function(){
                socket.emit('serber', $('#m').val());
                return false;
            });
            socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
            });
        });
    </script>
</body>
</html>